@use "../../styles/variables" as *;

.projectCard {
  width: 23rem;
  display: inline-block;
  margin-right: 2rem;
  position: relative;
  
  .image {
    border-radius: 13rem;
    overflow: hidden;
    height: 29rem;
    margin-bottom: 1.5rem;
    position: relative;

    img {
      width: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .image_layout {
    border-radius: 13rem;
    overflow: hidden;
    height: 29rem;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
      width: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .artist {
    text-align: center;
    
  }

  .handle {
    text-align: center;
    color: map-get($palette, "lighergray");
  }
}