.switchWrapper {
  background-color: #4B4B4B;
  border-radius: 1.3rem;
  display: inline-flex;
  align-items: center;
  padding: 10px 5px;
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
}

.switchDivider {
  width: 1px;
  height: 50px;
  background-color: #707070;
}