$font-family-primary: "Playfair Display";
$font-family-secondary: "Roboto";

$palette: (
  "lightorange": #FFF2D9,
  "gray": #707070
);

$font-size: (
  "base": 1rem,   // 20px
  "medium": 2rem, // 40px
  "large": 5rem   // 100px
);